<!-- select2: http://jsfiddle.net/7573va8p/17/ -->
{{#bs-modal open=show closeAction=(action "cancel") title="Transaction" autoClose=false body=false footer=false}}
  {{#bs-modal-body}}
    {{#bs-form action=(action "post") model=this}}
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="transaction-date" class="control-label">Date</label>
          {{bs-datetimepicker date=(readonly transaction.occurredOn) updateDate=(action (mut transaction.occurredOn))}}
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="transaction-description" class="control-label">Description</label>
              <textarea class="form-control" id="transaction-description">{{transaction.description}}</textarea>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <label class="control-label">Account</label>
          </div>
          <div class="col-md-3">
            <label class="control-label">Debit</label>
          </div>
          <div class="col-md-3">
            <label class="control-label">Credit</label>
          </div>
      </div>
      {{#each transaction.entries as |entry|}}
        <div class="row form-group">
            {{entry-component entry=entry rootAccount=(readonly rootAccount)}}
            {{#if entry.last}}
              <div class="col-md-1">
                <button {{action "addEntry" on="click"}} type="button" class="btn btn-default" aria-label="Add entry">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
              </div>
            {{/if}}
        </div>
      {{/each}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Post transaction"}}
{{/bs-modal}}
