<button class="btn btn-primary" {{action "showTransactionModal"}}>
  New transaction
</button>

<h3>{{model.account.name}} entries</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div-->
    {{ember-chart type=chartType data=chartData options=chartOptions height="600px"}}
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Account</th>
      <th style="text-align: right">Value</th>
      <th style="text-align: right">Sum</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.entries as |entry|}}
      <tr>
        <td>
          {{format-date entry.occurredOn}}
        </td>
        <td>
          {{entry.description}}
        </td>
        <td>
          {{entry.account.name}}
        </td>
        <td style="text-align: right">
          {{format-number entry.amount}}
        </td>
        <td style="text-align: right">
          {{format-number entry.sum}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{transaction-modal show=showTransactionModal transaction=transaction rootAccount=(readonly model.rootAccount) post=(action "post") cancel=(action "cancel")}}
